.login-content {
    background: rgb(145,255,161);
    background: linear-gradient(121deg, rgba(145,255,161,1) 0%, rgba(67,160,71,1) 50%);
    height: 1000px;
    padding-top: 75px;
}

.md-form input:focus {
    border-bottom: 1px solid #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important;
}

.active {
    color: #00c851 !important;
}
