.table-wrapper-scroll-y#table {
    max-height: 250px;
}

table#table {
    cursor: pointer;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #EDEDEE;
}

.empty {
    height: 250px;
}

a{
    color: inherit;
}

.list-group-flush{
    color: #495057;
}

.active{
    color: #e9ecef;
}

main {
    background-color: #EDEDEE;
}

.navbar-brand{
    margin-left: 15px;
    /*color: #2196f3 !important;*/
    color: #43A047 !important;
}

.our-text {
    color: #43A047;
}
.our-text:hover{
    color: #43A047 !important;
    filter: brightness(110%);
}

.mybtn {
    background-color: #43A047 !important;
}


.sidebar-fixed {
    left: 0;
    top: 0;
    height: 100vh;
    width: 90px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*z-index: 1050;*/
    background-color: #fff;
    padding-top: 0;
}

.flexible-navbar {
    transition: padding-left 0.5s;
    /*padding-left: 100px;*/
    background: #fff;
    z-index: 1;
    box-shadow: 92px 2px 5px 0 rgba(0, 0, 0, 0.16), 95px 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#content{
    margin-left: 80px;
}

.list-group-item {
    transition: background-color 0.3s;
}

.list-group-item:hover {
    color: #49505B;
    text-decoration: none;
    background-color: #F0F0F0
}

.list-group .active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.card-subtitle{
    font-size: 1.25rem;
    font-weight: 600;
}

.full {
    height: 70vh;
}

.bad-gateway-row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
}

.card h3, .card.card-cascade h4 {
    margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
}
.admin-up .data p {
    color: #999999;
    font-size: 12px;
}
.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}
.classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
    margin-top: 10px;
}

.form-inline{
    flex-flow: unset
}

.breadcrumb{
    margin: 0;
}

.activeClass .list-group-item {
    /*color: #007bff;*/
    color: #43A047 !important;
    background-color: #F0F0F0 !important;
}

@media (min-width: 1199.98px) {
    #content {
        margin-top: 70px;
    }
}

@media (max-width: 1199.98px) {
    .flexible-content {
        padding-left: 0;
    }

    .card.cascading-admin-card {
        margin-top: 2.5rem;
    }

    #content {
        margin-top: 25px;
    }
}

@media (max-width: 576px) {
    .card.cascading-admin-card {
        margin-top: 2.5rem;
    }

    #breadcrumb{
        flex-direction: column;
    }
    #content {
        margin-top: 25px;
    }
}

#hamburger {
    display: none;
}

#hamburger > .active {
    background-color: #49505B;
}

@media only screen and (max-width: 768px) {
    #sideNav {
        display:none;
    }

    #hamburger {
        display: block;
    }

    #content{
        margin-top: 50px;
        padding-left: 8px!important;
        padding-right: 8px!important;
        margin-left: 0;
        margin-right: 0;
    }

    #topNav.shadow {
        display: block;
    }

    .flexible-navbar {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16), 2px 2px 10px rgba(0, 0, 0, 0.12);
    }

    #uploads {
        margin-top: 30px!important;
    }

    #proficiency, #labHours {
        width: auto;
        height: auto;
    }

    .activeClass {
        background-color: #d2d2d2;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.empty#dash {
    height: 290px;
}

#hide > div > div {
    overflow-y: scroll;
    max-height: 400px;
}


